{% extends "base.html" %}
{% block title %}Result{% endblock %}
{% block content %}

<div class="result">
	<div class="index">
	<h5><strong>INDEX</strong></h5>
		{% for party,col in zipped %}
			{{ party.name }}<div style="width: 45px; height:20px; background-color: {{col}}; float: right; margin-right: 10;"></div><br>
		{% endfor %}
	</div>
    <!-- <div id="chart1">{{ output1|safe }}</div><br> -->
    <div id="chart2">{{ output2|safe }}</div><br>
    <div id="chart3">{{ output3|safe }}</div><br>
    <div id="chart4">{{ output4|safe }}</div><br>
    <div id="chart5">{{ output5|safe }}</div><br>
    <div id="chart6">{{ output6|safe }}</div><br>
</div>
{% endblock %}
